{% extends 'homepage.html' %}
{% load static %}
{% block content %}



    {% include 'include/header.html' %}


    <!-- off Canvas Start -->
    <div class="off-canvas-box">
        <div class="canvas-action">
            <a class="action" href="register.html#"><i class="icon-sliders"></i> Compare <span class="action-num">(0)</span></a>
            <a class="action" href="register.html#"><i class="icon-heart"></i> Wishlist <span class="action-num">(0)</span></a>
        </div>
        <div class="canvas-close-bar">
            <span>Menu</span>
            <a class="menu-close" href="register.html#"><i class="icon-arrow-left"></i></a>
        </div>
        <div class="canvas-menu">
            <nav>
                <ul>
                    <li class="active">
                        <a href="register.html#">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index.html">Home 01</a></li>
                            <li><a href="index-2.html">Home 02</a></li>
                            <li><a href="index-3.html">Home 03</a></li>
                            <li><a href="index-4.html">Home 04</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="register.html#">Shop</a>
                        <ul class="mega-sub-menu">
                            <li>
                                <a href="register.html#" class="menu-title">Shop Grid</a>

                                <ul class="menu-item">
                                    <li><a href="shop-grid-3-column.html">Shop Grid 3 Column</a></li>
                                    <li><a href="shop-grid-4-column.html">Shop Grid 4 Column</a></li>
                                    <li><a href="shop-grid-left-sidebar.html">Shop Grid Left Sidebar</a></li>
                                    <li><a href="shop-grid-right-sidebar.html">Shop Grid Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="register.html#" class="menu-title">Shop List</a>

                                <ul class="menu-item">
                                    <li><a href="shop-list.html">Shop List</a></li>
                                    <li><a href="shop-list-left-sidebar.html">Shop List Left Sidebar</a></li>
                                    <li><a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="register.html#" class="menu-title">Shop Single</a>

                                <ul class="menu-item">
                                    <li><a href="shop-single.html">Shop Single</a></li>
                                    <li><a href="shop-single-affiliate.html">Shop Single Affiliate</a></li>
                                    <li><a href="shop-single-gallery.html">Shop Single Gallery</a></li>
                                    <li><a href="shop-single-group.html">Shop Single Group</a></li>
                                    <li><a href="shop-single-sticky.html">Shop Single Sticky</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="register.html#" class="menu-title">Page</a>

                                <ul class="menu-item">
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="compare.html">Compare</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="my-account.html">My Account</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="register.html#">Page</a>
                        <ul class="sub-menu">
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="compare.html">Compare</a></li>
                            <li><a href="empty-cart.html">Empty Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="my-account.html">My Account</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="register.html">Register</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="register.html#">Blog</a>
                        <ul class="sub-menu">
                            <li><a href="register.html#">Blog Grid</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-grid-left-sidebar.html">Blog Grid Left Sidebar</a></li>
                                    <li><a href="blog-grid-right-sidebar.html">Blog Grid Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li><a href="register.html#">Blog List</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-list-left-sidebar.html">Blog List Left Sidebar</a></li>
                                    <li><a href="blog-list-right-sidebar.html">Blog List Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li><a href="register.html#">Blog Details</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-details-left-sidebar.html">Blog details Left Sidebar</a></li>
                                    <li><a href="blog-details-right-sidebar.html">Blog details Right Sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- off Canvas End -->

    <div class="menu-overlay"></div>

    {% if user.is_authenticated %}
    <!-- Page Banner Start -->
    <div class="page-banner-section section">
        <div class="container">
            <!-- Pager Banner Start -->
            <div class="page-banner-content text-center">
                <h2 class="page-banner-title">Разместить объявление</h2>
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="index.html">Домой</a></li>
                    <li class="breadcrumb-item active">Разместить объявление</li>
                </ul>
            </div>
            <!-- Pager Banner End -->
        </div>
    </div>
    <!-- Page Banner End -->
    {% else %}
    <!-- Page Banner Start -->
    <div class="page-banner-section section">
        <div class="container">
            <!-- Pager Banner Start -->
            <div class="page-banner-content text-center">
                <h2 class="page-banner-title">Вы не зарегистрованы</h2>
                <a href="index.html">Так как вы не зарегистрованный пользователь, вы не можете подавать объявление</a>
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="{% url 'register' %}">Зарегистрироваться</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'user_login' %}">Войти</a></li>
                </ul>
            </div>
            <!-- Pager Banner End -->
        </div>
    </div>
    <!-- Page Banner End -->
    {% endif %}

    {% if user.is_authenticated %}
    <!-- Register Section Start -->
    <div class="section section-padding mt-n2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <!-- Login & Register Start -->
                    <div class="login-register-wrapper">
                        <h4 class="title">Разместить БЕСПЛАТНОЕ объявление просто!</h4>
                        <p><a href="login.html">Объявления с качественными фото получают больше откликов! Удерживайте клавишу Ctrl, чтобы выбрать сразу несколько фото</a></p>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="single-form">
                                <label for="img">Загрузите основное фото</label>
                                <input type="file" class="form-control" id="img" name="post_image" accept="image/*">
                            </div>
                            <div class="single-form">
                                <label for="img">Загрузите дополнительное фото</label>
                                <input type="file" class="form-control" name="post_images" multiple>
                            </div>
                            <div class="single-form">
                                <label class="form-label">Заговок</label>
                                <input type="text" name = "title"  class="form-control">
                            </div>
                            <div class="single-form">
                                <label class="form-label">Описание</label>
                                <input type="text" name = "description" class="form-control">
                            </div>
                            <div class="single-form">
                                <label class="form-label">Категория</label>
                                <select size="1" name="category" class="form-control">
                                    {% for category in categories %}
                                    <option value="{{ category.id }}" selected>{{ category.title }}</option>
                                    {% endfor %}
                                   </select>
                            </div>
                            <div class="single-form">
                                <label class="form-label">Цена *</label>
                                <input type="text" name = "price" class="form-control">
                            </div>
                            <div class="single-form">
                                <label class="form-label">Выберите валюту</label>
                                <select size="1" name="currency" class="form-control">
                                    <option value="KGZ" selected>KGZ</option>
                                    <option value="USD">USD</option>
                                    <option value="RUB">RUB</option>
                                    <option value="EUR">EUR</option>
                                    <option value="Договорная">Договорная</option>
                                   </select>
                            </div>
                            <div class="single-form">
                                <label class="form-label">Телефонный номер</label>
                                <input type="tel" name = "phone" class="form-control">
                            </div>
                            
                            
                            <!-- <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="receive">
                                <label class="form-check-label" for="receive">Receive Offers From Our Partners</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="newsletter">
                                <label class="form-check-label" for="newsletter">Sign Up For Our Newsletter <br>
										Subscribe To Our Newsletters Now And Stay Up-To-Date With New Collections, The Latest Lookbooks And Exclusive Offers.</label>
                            </div> -->
                            <div class="single-form">
                                <input class="btn btn-primary" type="submit" value="Опубликовать">
                            </div>
                        </form>
                    </div>
                    <!-- Login & Register End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Register Section End -->
    
    {% endif %}

    {% include 'include/footer.html' %}


    <!--Back To Start-->
    <a href="register.html#" class="back-to-top">
        <i class="icon-chevron-up"></i>
    </a>
    <!--Back To End-->




{% endblock %}