{% extends 'homepage.html' %}
{% load static %}
{% block content %}


    {% include 'include/header.html' %}


    <!-- off Canvas Start -->
    <div class="off-canvas-box">
        <div class="canvas-action">
            <a class="action" href="wishlist.html#"><i class="icon-sliders"></i> Compare <span class="action-num">(0)</span></a>
            <a class="action" href="wishlist.html#"><i class="icon-heart"></i> Wishlist <span class="action-num">(0)</span></a>
        </div>
        <div class="canvas-close-bar">
            <span>Menu</span>
            <a class="menu-close" href="wishlist.html#"><i class="icon-arrow-left"></i></a>
        </div>
        <div class="canvas-menu">
            <nav>
                <ul>
                    <li class="active">
                        <a href="wishlist.html#">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index.html">Home 01</a></li>
                            <li><a href="index-2.html">Home 02</a></li>
                            <li><a href="index-3.html">Home 03</a></li>
                            <li><a href="index-4.html">Home 04</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="wishlist.html#">Shop</a>
                        <ul class="mega-sub-menu">
                            <li>
                                <a href="wishlist.html#" class="menu-title">Shop Grid</a>

                                <ul class="menu-item">
                                    <li><a href="shop-grid-3-column.html">Shop Grid 3 Column</a></li>
                                    <li><a href="shop-grid-4-column.html">Shop Grid 4 Column</a></li>
                                    <li><a href="shop-grid-left-sidebar.html">Shop Grid Left Sidebar</a></li>
                                    <li><a href="shop-grid-right-sidebar.html">Shop Grid Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="wishlist.html#" class="menu-title">Shop List</a>

                                <ul class="menu-item">
                                    <li><a href="shop-list.html">Shop List</a></li>
                                    <li><a href="shop-list-left-sidebar.html">Shop List Left Sidebar</a></li>
                                    <li><a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="wishlist.html#" class="menu-title">Shop Single</a>

                                <ul class="menu-item">
                                    <li><a href="shop-single.html">Shop Single</a></li>
                                    <li><a href="shop-single-affiliate.html">Shop Single Affiliate</a></li>
                                    <li><a href="shop-single-gallery.html">Shop Single Gallery</a></li>
                                    <li><a href="shop-single-group.html">Shop Single Group</a></li>
                                    <li><a href="shop-single-sticky.html">Shop Single Sticky</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="wishlist.html#" class="menu-title">Page</a>

                                <ul class="menu-item">
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="compare.html">Compare</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="my-account.html">My Account</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="wishlist.html#">Page</a>
                        <ul class="sub-menu">
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="compare.html">Compare</a></li>
                            <li><a href="empty-cart.html">Empty Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="my-account.html">My Account</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="register.html">Register</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="wishlist.html#">Blog</a>
                        <ul class="sub-menu">
                            <li><a href="wishlist.html#">Blog Grid</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-grid-left-sidebar.html">Blog Grid Left Sidebar</a></li>
                                    <li><a href="blog-grid-right-sidebar.html">Blog Grid Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li><a href="wishlist.html#">Blog List</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-list-left-sidebar.html">Blog List Left Sidebar</a></li>
                                    <li><a href="blog-list-right-sidebar.html">Blog List Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li><a href="wishlist.html#">Blog Details</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-details-left-sidebar.html">Blog details Left Sidebar</a></li>
                                    <li><a href="blog-details-right-sidebar.html">Blog details Right Sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- off Canvas End -->

    <div class="menu-overlay"></div>


    

    {% if user.is_authenticated and user == request.user %}
    <!-- Page Banner Start -->
    <div class="page-banner-section section">
        <div class="container">
            <!-- Pager Banner Start -->
            <div class="page-banner-content text-center">
                <h2 class="page-banner-title">Понравившиеся товары</h2>
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="index.html">Домой</a></li>
                    <li class="breadcrumb-item active">Понравившиеся товары</li>
                </ul>
            </div>
            <!-- Pager Banner End -->
        </div>
    </div>
    <!-- Page Banner End -->
    <!-- Shopping Cart Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="cart-wrapper">
                <!-- Cart Wrapper Start -->
                <div class="cart-table table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="Product-thumb">Фотография</th>
                                <th class="Product-info">Информация о объявлении</th>
                                
                                <th class="Product-action">Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in user.favorite_user.all %}
                            <tr>
                                <td class="Product-thumb">
                                    <img src="{{ post.post.post_image.url }}" alt="">
                                </td>
                                <td class="Product-info">
                                    {% if post.post.slug %}
                                    <h6 class="name"><a href="{% url 'post_detail_slug' post.post.slug %}">{{ post.post }} {{ post.post.id }}</a></h6>
                                    {% else %}
                                    <h6 class="name"><a href="{% url 'post_detail' post.id %}">{{ post.post }}</a></h6>
                                    {% endif %}
                                    <div class="product-prices">
                                        {% if post.post.currency != "Договорная" %}
                                        <span class="sale-price">{{ post.post.price }} {{ post.post.currency }}</span>
                                        {% else %}
                                        <span class="sale-price">{{ post.post.currency }}</span>

                                        {% endif %}
                                    </div>
                                    <div class="product-size-color">
                                        <p>Категория <span>{{ post.post.category }}</span></p>
                                    </div>
                                </td>
                                <form method="POST">
                                    {% csrf_token %}
                                    <td class="Product-action">
                                        <button class="remove" name = "delete"><i class="icon-trash-2"></i></button>
                                    </td>
                                </form>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Cart Wrapper End -->
            </div>
        </div>
    </div>
    <!-- Shopping Cart Section End -->
    {% else %}
    <!-- Page Banner Start -->
    <div class="page-banner-section section">
        <div class="container">
            <!-- Pager Banner Start -->
            <div class="page-banner-content text-center">
                <h2 class="page-banner-title">У вас нет прав</h2>
                <a href="{% url 'register' %}">Так как вы не владелец аккаунта {{user.usernmae}} или же не зарегистрованы, вы не можете просматривать избранное {{ user.username }}</a>
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="{% url 'register' %}">Зарегистрироваться</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'user_login' %}">Войти</a></li>
                </ul>
            </div>
            <!-- Pager Banner End -->
        </div>
    </div>
    <!-- Page Banner End -->
    {% endif %}

    {% include 'include/footer.html' %}

        <!-- Copyright Start -->
        <div class="copyright-section">
            <div class="container">
                <div class="copyright-payment-method">
                    <div class="copyright-text">
                        <p>&copy; 2021 <span> Tourve </span> Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://hasthemes.com/" target="_blank">HasThemes</a></p>
                    </div>
                    <div class="payment-method">
                        <img src="assets/images/payment.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright End -->

    </div>
    <!-- footer End -->


    <!--Back To Start-->
    <a href="wishlist.html#" class="back-to-top">
        <i class="icon-chevron-up"></i>
    </a>
    <!--Back To End-->





{% endblock %}